Django>=1.8,<4.0  # https://www.djangoproject.com/
djangorestframework>=3.11.2  # https://github.com/encode/django-rest-framework
requests>=2.26.0  # https://github.com/psf/requests
six>=1.16.0  # https://github.com/benjaminp/six